.App {
  text-align: center;
}

.App-header {
  background-color: #205cd5;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

button {
  font-size: calc(10px + 2vmin);
  margin: 5px;
  border: black 5px solid;
  background-color: red;
  color: white;
}

button:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

input {
  font-size: calc(10px + 2vmin);
  margin: 5px;
}

ul {
  list-style-type: none;
}

li {
  font-size: calc(10px + 2vmin);
  margin: 5px;
}